:root {
	box-sizing: borderbox;
}
@font-face {
	font-family: chessFont;
	src: url("Resources/Fonts/RothenburgDecorative.ttf");
}
*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: hidden;
	font-family: chessFont;
}

.con {
	overflow-x: scroll;
	width: 100%;
}
#mode {
	color: rgba(27, 253, 255, 0.666);
	text-shadow: 0 2px 2px darkgrey;
}
#btnReset {
	max-width: 5rem;
	max-height: 2.5rem;
	background-color: rgb(15, 208, 242);
	border: none;
	box-shadow: 0 0 0.5rem black;
	font-family: chessFont;
}
#btnReset:active {
	background-color: grey;
	transform: scale(1.05);
}
.c {
	font-family: chessFont;
}
@media only screen and (max-width: 700px) {
	#board {
		width: 85.5%;
	}
}

@media only screen and (min-width: 700px) {
	#board {
		width: 53%;
	}
}
