:root {
	box-sizing: border-box;
	--accent: #11dfef;
}
@font-face {
	font-family: portfolioFont;
	src: url("Resources/Fonts/leaguespartan-bold.ttf");
}
.b-accent {
	background-color: var(--accent);
}
.br-accent {
	border-color: var(--accent);
}

.col-accent {
	color: var(--accent);
}

.siya {
	font: bold;
	text-shadow: 0 0 0.05rem var(-accent);
}
* {
	box-sizing: inherit;
}
body {
	padding: 0;
	height: 100vh;
	width: 100vw;
	margin: 0;
	background-color: pink;
	max-width: 100vw;
	font-family: portfolioFont;
}
#container {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	font-family: portfolioFont;
}
body > * {
	margin-left: 0;
	margin-right: 0;
}

h1 {
	font-family: portfolioFont;
	animation: fadeInUp 1s;
}
p {
	color: white;
}

h2 {
	animation: fadeInLeft 0.5s;
}
#subCol {
	display: flex;
	flex-direction: column;
	width: 100%;
	align-items: center;
}

#imgCol {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0.2rem;
}
span {
	color: var(--accent);
	animation: fadeIn 2s;
}
#imageBox {
	border-style: solid;
	border-radius: 0.5rem;
	border-width: 0.2rem;
	background-image: url("Resources/Images/siya.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	padding: 0;
	margin: auto;
	height: 12rem;
	width: 12rem;
	z-index: 99;
	animation: fadeIn 1.5s;
}
#Image {
	height: 100%;
	width: 100%;
}

#linkNav {
	display: flex;
	justify-content: space-around;
	padding: 0;
}
#LinkedIn,
#GitHub,
#HackerRank,
#btnGit {
	height: 2rem;
	width: 2rem;
	margin: 0.6rem 1.2rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: rgb(17, 223, 239, 0.1);
	border-radius: 0.3rem;
	border: 0.05rem solid var(--accent);
	box-shadow: 0 0 0.1rem var(--accent);
	animation: flip 0.5s;
}

#LinkedIn {
	background-image: url("Resources/Icons/linkedin-plain.svg");
	animation-delay: 0.05s;
}

#GitHub {
	background-image: url("Resources/Icons/github-original.svg");
	animation-delay: 0.15s;
}
#GitHub:active {
	transform: scale(1.05) rotateY(45deg);
}
#HackerRank {
	background-image: url("Resources/Icons/hackerrank-4.svg");
	animation-delay: 0.25s;
}

#downloadCV,
#contactSubmit {
	font-size: 0.8rem;
	width: 8rem;
	height: 3.5rem;

	opacity: 0;
	animation:
		bounce 1s ease-out,
		fadeIn 0.45s 0.45s forwards,
		pulse 2s 1.5s ease-in-out infinite;
	background-color: var(--accent);
}
.Btn {
	box-shadow: 0 0 0.5rem var(--accent);
}
#downloadCV:hover {
	transform: pulse(1.05);
	background-color: rgb(40, 145, 167);
	color: black;
	animation: none;
	opacity: 1;
}

@keyframes fade-in {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}
.tech {
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.3rem 0.6rem;
	background-size: cover;
	background-repeat: no-repeat;
	background-color: #f1fdfed1;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.1rem #09d7f1;
}
.tech:hover {
	animation: flip 1s linear;
	box-shadow: 0 0 0.5rem #09d7f1;
	background-color: rgba(66, 214, 246, 0.868);
}
#btnGit {
	background-image: url("Resources/Icons/github-original.svg");
	margin-top: auto;
	margin-bottom: 2rem;
}
#btnGit:active {
	transform: scale(1.05) rotateY(45deg);
}
#ddbStack {
	height: 2.5rem;
	width: 7rem;
	background-color: var(--accent);
}
#ddbStack:hover {
	transform: pulse(1.05);
	background-color: rgb(40, 145, 167);
	color: black;
	animation: none;
	opacity: 1;
}
#aboutme {
	max-width: 20rem;
	margin: 2rem 0rem;
	font-size: 1.2rem;
	animation: glitch 0.5s;
}
@keyframes glitch {
	0% {
		opacity: 0;
	}
	5% {
		opacity: 1;
	}
	25% {
		opacity: 0.95;
	}
	30% {
		opacity: 0.1;
	}
	70% {
		opacity: 0.2;
	}
	75% {
		opacity: 0.8;
	}
	90% {
		opacity: 0.75;
	}
	95% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.card {
	box-shadow: 0 0 0.5rem black;
}
.card:hover {
	animation: cardHover 0.5s forwards;
}

@keyframes cardHover {
	from {
	}
	to {
		transform: scale(1.05);
		box-shadow: 0 0 0.5rem var(--accent);
	}
}

#cardScroller {
	z-index: 999;
	top: 110%;
	width: 100%;
	padding: 0;
	margin: 0;
}
#cardList {
	scroll-behavior: smooth;
	scroll-snap-type: x mandatory;
}
#cardList > * {
	scroll-snap-align: center;
	scroll-snap-stop: always;
}
#btnLeft,
#btnRight {
	height: 6rem;
	width: 3rem;
	background-color: rgba(0, 0, 0, 0);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	margin: 0;
	border: none;
	opacity: 0.5;
	animation: pulse 2s linear infinite;
}
#btnLeft:hover,
#btnRight:hover {
	animation: hoverTog 1s linear;
}
@keyframes hoverTog {
	from {
	}
	50% {
		opacity: 1;
	}
	to {
	}
}
#btnLeft {
	background-image: url("Resources/Images/left-arrow-svgrepo-com.svg");
	transform: translateX(-0.5rem);
	width: 3.5rem;
}
#btnRight {
	background-image: url("Resources/Images/right-arrow-svgrepo-com.svg");
	margin-left: auto;
	margin-right: 1rem;
}

#contactSubmit:hover {
	transform: pulse(1.07);
	background-color: rgb(40, 145, 167);
	color: black;
}
#contactSubmit:active {
	animation: tada 1s linear;
	opacity: 1;
}
#contactSubmit:disabled {
	animation: none;
	background-color: rgba(97, 97, 97, 0.868);
	color: rgba(253, 253, 253, 0.214);
	opacity: 1;
}
#out {
	font-family: portfolioFont;
	color: white;
}

